* text=auto
*.txt text
*.md text
*.feature text
*.bsl text
*.cmi text
*.mdo text
*.mxlx text
*.dcs text
*.dcss text
*.dcssca text
*.form text
*.xml text
*.html text
*.htmldoc text
*.cmd text
*.pmf text
*.example text
*.project text
*.prefs text
*.rights text
*.schedule text
*.xdto text
*.addin binary
*.bin binary
*.cf binary
*.epf binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.zip binary
.gitattributes export-ignore
.gitignore export-ignore
